{{>head}}
<section style="padding: 0 1.6rem;">
    <h3>Hi {{username}},</h3>

    <p>Congratulations! Your account has been successfully verified. We’re thrilled to have you as part of the Fralon
        Peanuts family.</p>
    <p>Feel free to explore our products by visiting our homepage:</p>

    <a href={{homepageUrl}} target="_blank" rel="noopener noreferrer" style="
                padding: 0.8rem 2rem;
                background-color: #003f88;
                text-decoration: none;
                color:#e5e5e5;
                font-weight: 600;
                font-size: 1rem;
                border-radius: 0.4rem;
                display: block;
                margin: 1.6rem auto;
                width: fit-content;
">Our homepage</a>

    <p>If you did not sign up for this account, please ignore this email</p>
</section>
{{>tail}}